html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

div.body-content {

    padding-bottom: 100px;
}

.footer {
  
    bottom: 0;
    width: 100%;
  }